PORT=3000
DATABASE_URL=postgres://sugam_seva:change-me@localhost:5432/sugam_seva
FRONTEND_ORIGIN=http://localhost:3000
NODE_ENV=development
GROQ_API_KEY=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
GROQ_MODEL=llama-3.3-70b-versatile
